@font-face {
	font-family: 'Pulp Display';
	src: url('fonts/PulpDisplay-Bold.eot');
	src: local('Pulp Display Bold'), local('PulpDisplay-Bold'),
		url('fonts/PulpDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/PulpDisplay-Bold.woff2') format('woff2'),
		url('fonts/PulpDisplay-Bold.woff') format('woff'),
		url('fonts/PulpDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Pulp Display Extra';
	src: url('fonts/PulpDisplay-ExtraBold.eot');
	src: local('Pulp Display Extra Bold'), local('PulpDisplay-ExtraBold'),
		url('fonts/PulpDisplay-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/PulpDisplay-ExtraBold.woff2') format('woff2'),
		url('fonts/PulpDisplay-ExtraBold.woff') format('woff'),
		url('fonts/PulpDisplay-ExtraBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Pulp Display';
	src: url('fonts/PulpDisplay-Medium.eot');
	src: local('Pulp Display Medium'), local('PulpDisplay-Medium'),
		url('fonts/PulpDisplay-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/PulpDisplay-Medium.woff2') format('woff2'),
		url('fonts/PulpDisplay-Medium.woff') format('woff'),
		url('fonts/PulpDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Pulp Display Outline';
    src: url('fonts/PulpDisplay-Outline.eot');
    src: local('Pulp Display Outline'), local('PulpDisplay-Outline'),
        url('fonts/PulpDisplay-Outline.eot?#iefix') format('embedded-opentype'),
        url('fonts/PulpDisplay-Outline.woff2') format('woff2'),
        url('fonts/PulpDisplay-Outline.woff') format('woff'),
        url('fonts/PulpDisplay-Outline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pulp Display Semi';
    src: url('fonts/PulpDisplay-SemiBold.eot');
    src: local('Pulp Display Semi Bold'), local('PulpDisplay-SemiBold'),
        url('fonts/PulpDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PulpDisplay-SemiBold.woff2') format('woff2'),
        url('fonts/PulpDisplay-SemiBold.woff') format('woff'),
        url('fonts/PulpDisplay-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
	font-family: 'Pulp Display';
	src: url('fonts/PulpDisplay-Regular.eot');
	src: local('Pulp Display'), local('PulpDisplay-Regular'),
		url('fonts/PulpDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/PulpDisplay-Regular.woff2') format('woff2'),
		url('fonts/PulpDisplay-Regular.woff') format('woff'),
		url('fonts/PulpDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--inter: Inter, sans-serif;
	--pulp: "Pulp Display", sans-serif;
}

body {
	margin: 0;
	background: #F0F5FF;
}

header {
	width: 100%;
	background: #FFFFFF;
	height: 132px;
}

nav {
	width: calc(100% - 40px);
	padding-inline: 20px;
	height: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: row;
	margin-inline: auto;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #fff;
	gap: 50px;
}

@media screen and (max-width: 40em) {
	header {
		width: 100%;
		background: #FFFFFF;
		height: fit-content;
	}
	nav {
		flex-direction: column;
		gap: 20px;
		padding-bottom: 15px;
	}
}

.logo-container .logo {
	display: flex;
	flex-direction: column;
	width: 320px;
	height: 61px;
}

.logo-container .logo-text {
	color: #225475;
	font-weight: 500;
	size: 15px;
	line-height: 18px;
	font-family: var(--pulp);
	padding-block: -10px 0;
	padding-inline: 50px 0;
	margin: -4px 0 0 0;
	z-index: 10
}

.header-contact-container {
	max-width: 701px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto auto auto;
	padding: 12px 20px;
	align-items: center;
	justify-content: space-between;
	background: #F7F7FB;
	border-radius: 8px;
	gap: 48px;
}

@media screen and (max-width: 64em) {
	.logo-container .logo {
		width: 250px;
		height: 48px;
		padding-block: 10px;
	}
	.header-contact-container {
		padding: 8px 16px;
		gap: 20px;
	}
}

@media screen and (max-width: 800px) {
	.header-contact-container {
		grid-template-rows: 1fr auto;
		grid-template-columns: 1fr auto;
		grid-template-areas: 
			"info number"
			"info extension";
		row-gap: 5px;
		column-gap: 10px;
	}
	.contact-title-and-hours {
		grid-area: info;
	}
	.contact-number {
		grid-area: number;
	}
	.contact-extension {
		grid-area: extension;
	}
}

@media screen and (max-width: 40em) {
	.header-contact-container {
		grid-template-rows: auto auto;
		grid-template-columns: auto auto;
		grid-template-areas: 
			"info info"
			"number extension";
		row-gap: 5px;
		column-gap: 10px;
		padding-inline: 24px;
	}
	.logo-container .logo {
		/* width: 180px; */
		/* height: 34px; */
		padding-block: 10px;
	}
}

.contact-title {
	font-family: var(--inter);
	font-weight: 700;
	font-size: 16px;
	line-height: 19.4px;
	color: #0C395B;
	padding: 0 0 2px 0;
	margin: 0;
}

.contact-hours {
	font-family: var(--inter);
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	padding: 0;
	margin: 0;
	color: #758EB2;
}

@media screen and (max-width: 64em) {
	.contact-title {
		font-size: 12px;
	}
	.contact-hours {
		font-size: 10px;
	}
}

@media screen and (max-width: 40em) {
	.contact-title-and-hours {
		text-align: center;
	}
}

.contact-icon {
	background: #2C8DFF;
	border-radius: 50%;
	padding: 5px 5px;
	transition: all 0.35s;
}

.contact-number {
	display: flex;
	align-items: center;
	gap: 10px;
}

.contact-number a {
	color: #0C395B;
	font-family: var(--inter);
	font-weight: 700;
	font-size: 17px;
	line-height: 20.5px;
	text-decoration: none;
}

.contact-extension {
	display: flex;
	align-items: center;
	gap: 10px;
}

.contact-extension a {
	color: #0C395B;
	font-family: var(--inter);
	font-weight: 700;
	font-size: 17px;
	line-height: 20.5px;
	text-decoration: none;
}

.contact-number a:hover,
.contact-extension a:hover {
	text-decoration: underline;
	transition: all 0.25s;
}

.contact-number:hover .contact-icon,
.contact-extension:hover .contact-icon {
	background: #1a5ca9;
	transition: all 0.25s;
}


@media screen and (max-width: 64em) {
	.contact-extension {
		gap: 5px
	}
	.contact-number,
	.contact-extension {
		gap: 6px;
	}
	.contact-number a,
	.contact-extension a {
		font-size: 14px;
	}
}

@media screen and (max-width: 800px) {
	.contact-number a,
	.contact-extension a {
		font-size: 12px;
	}
}

@media screen and (max-width: 40em) {
	.contact-icon {
		width: 12px;
		height: 12px;
	}
}

main {
	max-width: 1200px;
	width: calc(100% - 40px);
	padding-inline: 30px;
	height: 100%;
	margin: 0 auto;
}

.hero-text {
	position: relative;
	font-family: var(--pulp);
	font-weight: 500;
	font-size: 58px;
	line-height: 63.8px;
	color: #0F385A;
	margin-block: 102px 64px;
	padding-right: 75px;
	bottom: 30px; 
	opacity: 50%;
	transition: all 1s;
}

.page-loaded .hero-text {
	bottom: 0px; 
	opacity: 100%;
	transition: all 1s;
}

.hero-extra-text {
	position: relative;
	font-family: var(--pulp);
	font-weight: 400;
	font-size: 36px;
	line-height: 43.2px;
	color: #0C395B;
	padding-right: 75px;
	bottom: 30px; 
	opacity: 50%;
	transition: all 1s;
}

.page-loaded .hero-extra-text {
	bottom: 0px; 
	opacity: 100%;
	transition: all 1s;
}

@media screen and (max-width: 64em) {
	main {
		padding-inline: 20px;
	}
	.hero-text {
		font-size: 38px;
		line-height: 50px;
		margin-block: 60px 45px;
		padding-inline: 30px;
		text-align: center;
	}
	.hero-extra-text {
		font-size: 22px;
		line-height: 25px;
		padding-inline: 30px;
		text-align: center;
		margin-block: 45px;
	}
}

@media screen and (max-width: 40em) {
	.hero-text {
		font-size: 30px;
		line-height: 38px;
		padding-inline: 10px;
	}
	.hero-extra-text {
		font-size: 22px;
		line-height: 28px;
		padding-inline: 10px;
	}
}

.cta-and-image-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1150px;
	gap: 80px;
}

@media screen and (max-width: 64em) {
	.cta-and-image-container {
		flex-direction: column;
		gap: 40px;
	}
}

.cta-box {
	max-width: 464px;
	max-height: 266px;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	border-radius: 12.5px;
	box-shadow: 0px 5px 56.28px 0px #0B173414;
	padding: 32px 34px 22px 34px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cta-title {
	font-family: var(--pulp);
	font-size: 33px;
	font-weight: 600;
	line-height: 37.57px;
	text-align: center;
	color: #0F385A;
	margin: 0;
	padding: 0;
	padding-bottom: 21px;
}

.cta-button {
	font-family: var(--inter);
	padding-inline: 18.76px;
	padding-block: 24px;
	border-radius: 7.5px;
	background: #2C8DFF;
	color: #FFFFFF;
	font-family: Inter;
	font-size: 23px;
	font-weight: 600;
	line-height: 27.84px;
	text-align: center;
	border: none;
	max-width: 394px;
	width: 100%;
	transition: all 0.25s;
}

.cta-button:hover {
	background: #1a5ca9;
	transition: all 0.25s;
}

.cta-phone {
	font-family: var(--inter);
	font-size: 21px;
	font-weight: 600;
	line-height: 25.41px;
	text-align: center;
	padding: 0;
	margin-top: 33px;
	margin-bottom: 5px;
	color: #0C395B;
}

.cta-phone .extension {
	color: inherit;
}

.cta-phone a {
	text-decoration: none;
}

.cta-phone a:hover {
	text-decoration: underline;
}

.cta-hours {
	font-family: var(--inter);
	font-size: 18px;
	font-style: italic;
	font-weight: 500;
	line-height: 21.78px;
	text-align: left;
	padding: 0;
	margin: 0;
	color: #555555;
}

@media screen and (max-width: 64em) {
	.cta-box {
		padding-inline: 20px;
	}
	.cta-button {
		font-size: 20px;
		line-height: 24px;
		padding: 16px;
		max-width: 360px;
	}
	.cta-title {
		font-size: 30px;
		line-height: 35px;
		margin: 0;
		padding: 0;
		padding-bottom: 21px;
	}
	.cta-phone {
		font-size: 20px;
		margin-top: 27px;
	}
	.cta-hours {
		font-size: 16px;
	}
}

@media screen and (max-width: 40em) {
	.cta-title {
		font-size: 28px;
		line-height: 32px;
		padding-bottom: 18px;
	}
	.cta-button {
		font-size: 18px;
		line-height: 22px;
		padding: 16px;
	}
	.cta-phone {
		font-size: 16px;
		margin-top: 25px;
	}
	.cta-hours {
		font-size: 16px;
	}
}

.hero-image-box {
	position: relative;
	background: #E5EEFF;
	border-radius: 50%;
	width: 476px;
	height: 470px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	bottom: 20px; 
	opacity: 90%;
	transition: all 1s;
}

.page-loaded .hero-image-box {
	bottom: 0px; 
	opacity: 100%;
	transition: all 1s;
}

.hero-image {
	position: relative;
	border-radius: 50%;
	width: 452px;
	height: 446px;
	bottom: 2px;
	right: -5px;
}

footer {
	width: 100%;
	height: fit-content;
}

footer svg {
	border-bottom: 40px solid #FFFFFF;
}

.green-text {
	color: #5BBB47;
}

@media screen and (max-width: 64em) {
	.hero-image-box {
		width: 476px;
		height: 470px;
	}
	.hero-image {
		width: 452px;
		height: 446px;
	}
}

@media screen and (max-width: 40em) {
	.hero-image-box {
		width: 280px;
		height: 276px;
	}
	.hero-image {
		width: 270px;
		height: 266px;
		bottom: 0px;
		right: 0px;
	}
}